<form>

  <div class="row">
    <div class="form-group col-md-3">
      <label>Codigo: </label>
      <input type="number" class="form-control" id="cod">
    </div>
    <div class="form-group col-md-9">
      <label>Nome: </label>
      <input type="text" class="form-control" id="name">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-3">
      <label>Saldo: </label>
      <input type="number" class="form-control" id="quant">
    </div>
    <div class="form-group col-md-3">
      <label>Unidades: </label>
      <input type="" class="form-control" id="unit">
    </div>
  </div>
  <div class="row">
    <div class=" col-md-3">
      <label>
        <input type="radio" name="optionsRadios" id="fab" value="fab" checked> Fabricável
      </label>
    </div>
    <div class=" col-md-3">
      <label>
        <input type="radio" name="optionsRadios" id="buy" value="buy"> Comprável
      </label>
    </div>
  </div>
  <div class="text-right">
    <button class="btn btn-primary">Guardar</button>
  </div>
</form>